body{
    margin: 0;
    padding: 0;
}
td{
    color: #fff;
}
#mainNavigation a {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgb(0, 197, 227)
}

.dropdown-menu {
    background: #03737d48
}

a.dropdown-toggle {
    color: #dfdfdf !important
}

a.dropdown-item:hover {
    color: #03727d !important
}

.nav-item a {
    color: #dfdfdf;
}

.nav-item a:hover {
    color: #fff
}

.nav-item {
    min-width: 12vw;
}

#mainNavigation {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 123;
}

#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav {
    background: transparent;
    padding: 12px;
}